<!DOCTYPE html>
<html>
<head>
  <title>Go Bocado</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

<div class="container">

  <!-- Sidebar -->
  <aside class="sidebar">
    <h2>Go Bocado</h2>
    <p class="lema">Pequeños bocados, grandes momentos</p>

    <ul>
      <li>Inicio</li>
      <li>Productos</li>
      <li>Contacto</li>
    </ul>
  </aside>

  <!-- Contenido -->
  <main class="contenido">
    <h1>🍽️ Nuestros Bocaditos</h1>
    <div id="productos" class="grid"></div>
  </main>

</div>

<script src="/static/app.js"></script>

</body>
</html>